<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheiaVRTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheiaVRTests.Properties.Settings>
            <setting name="stream_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="stream_port" serializeAs="String">
                <value>11000</value>
            </setting>
        </TheiaVRTests.Properties.Settings>
    </userSettings>
</configuration>