<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheiaVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheiaVR.Properties.Settings>
            <setting name="stream_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="stream_port" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="logs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="unityLogs" serializeAs="String">
                <value>False</value>
            </setting>
        </TheiaVR.Properties.Settings>
    </applicationSettings>
</configuration>